# IDE
.idea/
*.iml
*.iws

# CMake build
build/
cmake-build-*/
obj-x86_64-linux-gnu/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# C++ build artifacts
*.o
*.d
*.so
*.a
*.gch

# Debian build artifacts
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/sandbox.substvars
debian/sandbox/

